@font-face {
    font-family: 'Cha-amon-tzeli--ProbingRamza';
    src: url('@/assets/fonts/Cha-amon-tzeli/ProbingRamza.woff2') format('woff2');
}

[data-font="Cha amon tzeli - ProbingRamza"] {
    font-family: 'Cha-amon-tzeli--ProbingRamza';
}